tramp
url/
tutorial/
games/
abbrev_defs
*.elc
*~
ac-comphist.dat
elpa/archives/
/.org-id-locations
server/
var/

/bookmarks
/el-get/.status.el.old

/semanticdb/
/.emacs.desktop
/.emacs.desktop.lock
/.python-environments
/.mc-lists.el
/history
/projectile-bookmarks.eld
/request/curl-cookie-jar
/request
/srecode-map.el
/eshell
/desktop
helm-adaptive-history
projectile.cache
ede-projects.el
/xkcd/
